<h1><%= @display_name %>'s Crawlers</h1>
<%= render "new_crawler" %>
<ul class="crawlers">
  <% current_user.crawlers.each do |crawler| %>
    <li class="crawler"><%= crawler.keywords %></li>
  <% end %>
</ul>
